@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins
}

.start-screen-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background-image: url("../../../public/startScreen-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: brightness(0.95);
    z-index: 999;
}


.start-screen-container {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    
    border: 5px solid #ccc;
    border-radius: 40px;
    width: 40%;
    height: 50%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.start-screen-container p {
    text-align: center;
    letter-spacing: 6px;
    font-size: 56px;
    font-weight: 600;
}

.start-screen-container button {
    
    width: 50%;
    height: 30%;
    border: 4px solid #ccc;
    outline: none;
    border-radius: 20px;

    font-size: 28px;
    font-family: Poppins;
    font-weight: 500;
}

.start-screen-container button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


