.timer-container {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid green;
    background-color: white;
    font-size: 18px;
}

.timer {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: white;
    color: black;
    font-weight: 600;
    
}