.answer-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    height: 200px
}

.answer-container ul {
    width: 50%;
    height: 50%;  
    text-align: center;  
    list-style: none;
    
}

.answer-hc {
    background-color: #e5c6aa;
    border: 1px solid black;
    margin-top: 8px;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 500;
    
}
li:hover {
    background-color: #fc6a03;
    color: white
}

.active {
    background-color: #fc6a03;
    color: white;
}


.anwser-incorrect {
    background-color: red ;
}
.anwser-correct {
    background-color: green
}

.answer-disabled {
    pointer-events: none;
}